{# templates/trait_standard.html #}

{% extends 'main.html' %}
{% block title %}性状采集标准{% endblock %}
{% block content %}
    <table id="std_table" lay-filter="test"></table>
    <script>
        layui.use('table', function () {
            var std_table = layui.table;

            table.render({
                elem:'#demo'
                ,height: 312
                ,url: '/data/table/user/'
                ,page: true
                ,cols: [[
                    {field: 'id', title: '编号', width: 80, sort: true, fixed: 'center'}
                    ,{field: 'trait', title: '性状名称', width: 100, sort: true, fixed: 'center'}
                    ,{field: 'ac_time', title: '采集时间', width: 100, sort: true, fixed: 'center'}
                    ,{field: 'ac_std', title: '采集标准', width: 200, sort: true, fixed: 'center'}
                    ,{field: 'precision', title: '数据精度', width: 50, sort: true, fixed: 'center'}
                    ,{field: 'value', title: '可能值', width: 150, sort: true, fixed: 'center'}
                    ,{field: 'group', title: '试验组别', width: 50, sort: true, fixed: 'center'}
                ]]
            });
        });
    </script>
{% endblock %}
