{# templates/trait_standard.html #}

{% extends 'main.html' %}
{% block title %}性状采集标准{% endblock %}
{% block content %}
    <table class="layui-table" lay-data="{height: 'full-200', cellMinWidth: 100, page: true, limit:30}">
        <thead>
            <tr>
                <th lay-data="{field: 'trait_name', width: 100, sort: true}">性状名称</th>
                <th lay-data="{field: 'stage', width: 100, sort: true}">采集阶段</th>
                <th lay-data="{field: 'standard', width: 100, sort: true}">采集标准</th>
                <th lay-data="{field: 'precision', width: 100, sort: true}">精度</th>
                <th lay-data="{field: 'value', width: 100, sort: true}">可能值</th>
                <th lay-data="{field: 'exp_class', width: 100, sort: true}">试验类型</th>
                <th lay-data="{field: 'trait_type', width: 100, sort: true}">性状类型</th>
            </tr>
        </thead>
    </table>
{% endblock %}
