<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>登录</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="/static/css/login.css" />
    </head>

    <body class="beg-login-bg">
       <div class="layui-container">
           {% for message in messages %}
               <div class="alert alert-{{ message.tags }}">{{ message }}</div>
           {% endfor %}
        <div class="layui-row">
            <div class="layui-col-md-offset12">
                <div class="layui-table-tool-panel">
                    <div class="panel-heading" align=center>
                        <h3>登录</h3>
                    </div>
                </div>
            </div>
        </div>
        <form action="." method="POST">
            {% csrf_token %}
            <table>
                {{ login_form.as_table }}
            </table>
            <input type="submit" value="登录"><br/>
        </form>
       <script>
           $(function () {
               $('.captcha').css({
                   'cursor': 'pointer'
               })
               $('.captcha').click(function () {
                   console.log('click');
                   $.getJSON("/captcha/refresh/",
                           function (result) {
                               $('.captcha').attr('src', result['image_url']);
                               $('#id_captcha_0').val(result['key'])
                           });
               });

               $('#id_captcha_1').blur(function () {
                   json_data={
                       'response':$('#id_captcha_1').val(),
                       'hashkey':$('id_captcha_0').val()
                   }
                   $.getJSON('/ajax_val', json_data, function (data) {
                       $('#captcha_status').remove();
                       if(data['status']){
                           $('#id_captcha_1').after('<span id="captcha_status" style="color:blue">*验证码正确</span>')
                       }else{
                           $('#id_captcha_1').after('<span id="captcha_status" style="color:red">*验证码错误</span>')
                       }

                   });
               });
           })
       </script>
           <script src="./jquery.js"></script>
       </div>
    </body>
</html>